html,
body {
  margin: 20px;
  padding: 0;
  font-family: "Barlow", sans-serif;
  display: flex;
  flex-direction: row nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
}
